.content-leftpane {
	width: 60%;
	margin: 100px;
}

.content-rightpane {
	width: 30%;
	margin: 100px;
}

table.selectedschools {
	width: 100%;
}

table.schoollist {
	width: 100%;
}

.container {
	width: 500px;
	clear: both;
}

.container input {
	width: 100%;
	clear: both;
}

.container select {
	width: 100%;
	clear: both;
}

.container button {
	display: block;
	margin: auto;
}