<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}">
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.gif')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
</head>
<body>
	<center>
		<img src="{{url_for('static', filename = 'logo.png')}}" alt="logo.png">
	</center>
	<div class="password-recovery">
	 	<div class = "form">
	 	{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}</p>
	 	{% endif %}
		{% if changepasswd %}
	 		<form action = "" method = 'post' class = "login-form">
				<input type="text" name="username" placeholder="Username">
				<input type="text" name="email" placeholder="Email Address">
				<button>Submit</button>
			</form>
		{% endif %}

		{% if mailsent %}
	 		<p class="success"><strong>Attention:</strong> {{ mailsent }}</p>
		<form action = "/changepwd" method = 'get' class="login-form">
				<input type="text" name="recovery_code" placeholder="Paste the recovery code here">
				<button>Submit</button>	
		</form>
	{% endif %}
		</div>
	</div>
	<script href="{{url_for('static', filename='bootstrap.min.js')}}"></script>
</body>
</html>